<!DOCTYPE html>
<html>
  <head>
    <title>Elect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- 파비콘(.ico 확장자) -->
    <link rel="shortcut icon" href="<%= asset_path '' %>">
    
    <!-- 카카오톡 썸네일 노출 -->
    <meta property="og:image" content="<%= asset_path '' %>">
    
    <!-- 검색엔진 최적화 -->
    <meta name="title" content="강원대학교 대동제 : 머동머동제"/>
    <meta name="keywords" content="KnuFestival, Knu, Kangwon, Kangwon National, University, 강원대, 강원대학교, 대동제, WAA, 강원대 대동제, 강원도, 대학축제, 멋쟁이 사자처럼, 한림대, 한림대 대동제, 머동제, 감자, 감자대, 멋사">
    <meta name="description" content="2018 강원대 대동제 안내, Feat. 멋쟁이 사자처럼">
    
    <meta property="og:title" content="강원대학교 대동제 : 머동머동제">
    <meta property="og:description" content="2018 강원대 대동제 안내, Feat. 멋쟁이 사자처럼">
    <meta property="og:site_name" content="강원대학교 대동제 : 머동머동제">
    
    <meta name="twitter:title" content="강원대학교 대동제 : 머동머동제">
    <meta name="twitter:description" content="2018 강원대 대동제 안내, Feat. 멋쟁이 사자처럼">
    <!-- 검색엔진 최적화 -->
    
    <script src="/js/more_reply.js"></script>
    <script src="/js/top_offset.js"></script>

    <%# 폰트어썸 5버전 %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%# 사이트 : https://fontawesome.com/icons %>
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <%# 폰트 %>
    <style>
  	/* 나눔 손글씨 */
  	@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
  	@font-face { font-family: 'S-CoreDream-1Thin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: normal; font-style: normal; }
  	@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
  	
  	@font-face {
      font-family:'Nanum Pen Script';
      font-style:normal;
      font-weight:400;
      src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot);
      src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot?#iefix) format('embedded-opentype'),
      url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.woff) format('woff'),
      url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.ttf) format('truetype')
    }
  	
  	/* 웹 페이지 기본 글씨체 */
  	body{
      font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', sas-serif !important;
      font-size: 15px;
  	}
    </style>
  </head>

  <body>
    <!-- 로딩중 아이콘 -->
    <div id="loading"><img id="loading-image" src="<%= asset_path 'loading.gif' %>" alt="Loading..." /></div>
      
    <%= yield %>
  </body>
</html>