<style>
  body {
    background-color: #e7e7e7;
  }
</style>

<div class="container login-container">
  <div class="row login_box">
    <div class="col-md-12 input-login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% elsif notice %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      
        <div class="col-md-12" style="margin-top: 30px;">
          <label class="form_1">
            <%= f.email_field :email, id: "form_1", autofocus: true, autocomplete: "email", placeholder: " " %>
            <span class="label">이메일</span>
          </label>
        </div>
        
        <div class="col-md-12">
          <label class="form_2 input-password">
            <%= f.password_field :password, class: "devise_noborder", id: "form_2", autofocus: true, autocomplete: "off", placeholder: " ", value: "" %>
            <span class="label">암호</span>
          </label>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="actions">
          <%= f.submit "로그인", class: "btn btn-sm btn-info login-btn" %>
        </div>
      <% end %>
    </div>
    
    <div align="center" class='shared-info'>
      <%= render "devise/shared/info" %>
    </div>
  </div>
</div>