<style>
  body {
    background-color: #e7e7e7;
  }
</style>

<div class="container login-container">
  <div class="app-info">
    <h1 class="info-title">야! 떳다</h1>
    <h2 class="info-sub-title">단어를 이용해 필요한 게시글을 바로 만나보세요</h2>
  </div>
  <div class="row login_box">
    <div class="col-md-12 input-login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% elsif notice %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      
        <h3 class="info-h3">이제, 즐겨찾기 말고 <strong>야! 떳다</strong></h3>
        <div class="col-md-12 input-email-wrap">
          <label class="form_1">
            <%= f.email_field :email, class: "type-email", id: "form_1", autofocus: true, autocomplete: "email", placeholder: "ID" %>
            <!--<span class="label">ID</span>-->
          </label>
        </div>
        
        <div class="col-md-12 input-password-wrap">
          <label class="form_2 input-password">
            <%= f.password_field :password, class: "devise_noborder type-password", id: "form_2", autofocus: true, autocomplete: "off", placeholder: "Password", value: "" %>
            <!--<span class="label">Password</span>-->
          </label>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, class: "login-checkbox", id: "login-checkbox" %>
            <%= f.label :remember_me, class: "label-remember", for: "login-checkbox" %>
           <!-- <label for="login-checkbox" class="login-check-label">-->
          	<!--	<div class="check-img"><%= f.label :remember_me, class: "label-remember", for: "login-checkbox" %></div>-->
          	<!--</label>-->
          </div>
          <hr class="login-hr"/>
        <% end -%>
      
        <div class="actions login-btn-wrap">
          <%= f.submit "Login", class: "btn btn-sm btn-info login-btn" %>
        </div>
      <% end %>
    </div>
    
    <div align="center" class='shared-info'>
      <%= render "devise/shared/info" %>
    </div>
  </div>
</div>