

<div class="container devise_form page-user-edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <section class="user-edit-section">
      <h2 class="edit-title">회원 가입</h2>
      <div class="edit_user">
        <div class="field">
          <%= f.email_field :email, class: "devise_noborder", required: true, autofocus: true, autocomplete: "<email!></email!>", placeholder: "ID"  %>
        </div>
        
        <div class="field">
          <%= f.text_field :nickname, class: "devise_noborder", required: true, autofocus: true, placeholder: "Username" %>
        </div>
        
        <div class="field">
          <%= f.text_field :phone_number, class: "devise_noborder", required: true, autofocus: true, placeholder: "Phone" %>
        </div>
      
        <div class="field">
          <%= f.password_field :password, class: "devise_noborder", autocomplete: "off", placeholder: "New Password" %>
          <% if @minimum_password_length %>
            <!--<br />-->
            <!--<em>최소 <%= @minimum_password_length %>글자 이상</em>-->
          <% end %>
        </div>
      
        <div class="field">
          <%= f.password_field :password_confirmation, class: "devise_noborder", required: true, autocomplete: "off", placeholder: "Password Confirm" %>
        </div>
      
        <div class="actions">
          <%= f.submit "회원가입", class: "btn btn-sm btn-primary user-edit-btn" %>
        </div>
      </div>
  <% end %>
      
    <div class="hr"></div>
    <%= link_to "이전으로", :back, class: "edit-back" %>
  </section>
</div>
